<h1>All Movies</h1>

<div class="movies_index_wrapper">
	<% @tags.each_key do |tag| %>
		<div class="movies_index_tag_wrapper">
		<h3><%= tag.name %></h3>
		<% @tags[tag].each do |movie| %>
			<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user } %>
		<% end %>
		<br>
		</div>
	<% end %>
</div>