<section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-77" style="background-image: url(https://images8.alphacoders.com/457/457955.jpg);">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3><%= current_user.name %>'s Enclosure</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="header3-78">
    <div class="mbr-section__container container mbr-section__container--first">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-12 text-center">
                <h3 class="mbr-header__text">Most Watched Movies</h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="image2-83">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="col-sm-2">
                <div class="media-info">
                  <span class="block watch">Watch Count: 6</span>
                </div>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><img class="mbr-figure__img" src="http://ia.media-imdb.com/images/M/MV5BMTc4MjUxNDAwN15BMl5BanBnXkFtZTcwMDMwNDg3OA@@._V1_SX300.jpg"></div>
                    <figcaption class="mbr-figure__caption">
                        <small class="mbr-figure__caption-small">There Will Be Blood </small>
                    </figcaption>
                </figure>
                <br>
                <div class="media-info">
                  <span class="block btn btn-default">Recommend To</span>
                  <span class="block btn btn-default">Rate</span>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</section>