<%= render partial: 'layouts/endorsesaurus_enclosure', locals: { current_user: current_user, user: @user } %>
<%= render partial: 'layouts/secondary_nav_bar', locals: { user: @user } %>

<div class="recommendations_container">
	<h3 class="text_center">Show Recommendations:</h3>
	<div class="recommendation_wrapper">
		<% if @show_recs && !@show_recs.empty? %>
			<% @show_recs.each do |show_rec| %>
				<%= render partial: 'layouts/recommended_show_layout', locals: { user: @user, current_user_likes: @current_user_likes, rec: show_rec, current_user: current_user } %>
			<% end %>
		<% else %>
			<p>No recommendations to show!</p>
		<% end %>
	</div>
</div>


<div class="likes_container">
	<h3 class="text_center" >Show Likes:</h3>
	<div class="watched_wrapper">

		<div class="likes_wrapper">
			<% if @watched && !@watched.empty? %>
				<% @watched.each_pair do |show| %>
					<%= render partial: 'layouts/show_layout', locals: { user: @user, current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, progress: @progress} %>	
				<% end %>
			<% else %>
				<p>Haven't watched anything yet!</p>
			<% end %>
		</div>

	</div>
</div>