<%= render partial: 'layouts/endorsesaurus_enclosure', locals: { current_user: current_user, user: @user } %>
<%= render partial: 'layouts/secondary_nav_bar', locals: { user: @user } %>

<div class="left_50">
	<h3 class="text_center">Show Recommendations:</h3>
	<div class="recommendation_wrapper">
		<% if @recs && !@recs.empty? %>
			<% @recs.each do |show_rec| %>
				<%= render partial: 'layouts/recommended_show_layout', locals: { user: @user, current_user_likes: @current_user_likes, rec: show_rec, current_user: current_user, css_class: "recommendation" } %>
				<br>
			<% end %>
		<% else %>
			<p>No recommendations to show!</p>
		<% end %>
	</div>
</div>


<div class="right_50">
	<h3>
	<span class="likes_button">Likes</span> 
	<span class="seen_button">Seen</span> 
	<span class="dislikes_button">Dislikes</span>
	</h3>
	<div class="watched_wrapper">

		<div class="likes_wrapper">
			<% if @likes && !@likes.empty? %>
				<% @likes.each_pair do |show| %>
					<%= render partial: 'layouts/show_layout', locals: { user: @user, current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, progress: @progress} %>	
				<% end %>
			<% else %>
				<p>No likes to show!</p>
			<% end %>
		</div>

	</div>
</div>