# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: aca853cf8041c1f82e22c7911344dc2481f3b0edadf9f81428df31cbf9f64a174c813be465254da6b2e883ae981402ebd203ad0e5825eaa716c8449016f8cacd

test:
  secret_key_base: ab8c148046884989a9a56fd7342643e1f0801e0242b2d686975b02663e3990d3e3fab56b5dc9ee5bca579aeb9bcf5d99a159c100a07a2cb9c2c3631c53b8e613

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
