<h1><%= @tag.name %></h1>

<h3>Movies</h3>
<div class="movies_index_tag_wrapper">
	<% @movies.each do |movie| %>
		<div class="movie_wrapper">
			<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id] } %>
		</div>
	<% end %>
</div>

<h3>Shows</h3>
<div class="seasons_index_tag_wrapper">
	<% @shows.each do |show| %>
		<div class="show_wrapper">
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
		</div>
	<% end %>
</div>