/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require slick
 *= require slick-theme
 */
$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

/*
$green: #A1DBB2;
$yellow: #FACA66;
$darker_yellow: #e1b55b;
$red: #F45D4C;
$darker_red: #7a2e26;
$blue: #91CFCA;
$darker_blue: #486765;
*/

$font: 'Amatic SC', cursive;

.text_center {
	text-align: center;
}

.site-name {
	color: #f9f9f9;
}

.site-name {
	font-weight: bold;
	text-align: center;
}

h1 {
	font-family: 'Amatic SC', cursive;
	color: #f9f9f9;
	font-size: 40px;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Amatic SC', cursive;
	color: #f9f9f9;
	font-size: 30px;
	letter-spacing: 2px;
}

h3 {
	font-family: 'Amatic SC', cursive;
	color: #f9f9f9;
	font-size: 25px;
	letter-spacing: 2px;
}

h4 {
	font-family: 'Amatic SC', cursive;
	color: #f9f9f9;
	font-size: 20px;
	letter-spacing: 2px;
}

/*Main Navbar CSS*/

header {
	font-family: 'Amatic SC', cursive;
	background: $blue;
	font-size: 25px;
	letter-spacing: 2px;
	height: 59px;
	border-bottom: 1px solid $dark_blue;
}

.navbar-wrapper {
	position: fixed;
	width: 100%;
	top: 0px;
}

.navbar-left {
	float: left;
	height: 59px;
}

.navbar-right {
	float: right;
	text-align: right;
	height: 59px;
}

.search.nav_element {
	line-height: 22px;
	padding: 14px 16px;
}

.nav_element.nav_points {
	line-height: 60px;
	color: #f9f9f9;
}

.nav_element.nav_photo {
	line-height: 40px;
}

.navbar-class ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $blue;
}

.nav_element {
	float: left;
}

.nav_element a, .dropbtn {
  display: inline-block;
  color: #f9f9f9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_element a:hover, .dropdown:hover .dropbtn {
  background-color: $yellow;
}

.nav_element.dropdown {
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: $blue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_content a {
  color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: $yellow;}

.dropdown:hover .dropdown_content {
  display: block;
}

/* Body */

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #287659;
}

.site_body {
	margin-top: 59px;
	border-top: 1px solid #D3D3D3;
}

/* Footer */

footer {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-family: 'Amatic SC', cursive;
	background: $blue;
	font-size: 25px;
	letter-spacing: 2px;
	color: #f9f9f9;
	border-top: 1px solid $dark_blue;
  text-align: center;
}

/*

.navbar-class a {
	color: #486765;
  font-size: 25px;
  padding: 5px;
  display:inline-block;
}

.navbar {
  display: inline;
  margin: 0;
  padding: 0;
}
.navbar .nav_element {display: inline-block;}
.navbar .search {display: inline-block;}
.navbar .nav_element:hover {background: #FACA66;}
.navbar .nav_element:hover ul {display: block;}
.navbar .nav_element ul {
  position: absolute;
  display: none;
}
.navbar .nav_element ul .dropdown_element { 
  background: #FACA66; 
  display: block;
}
.navbar .nav_element ul .dropdown_element a {display:block;} 
.navbar .nav_element ul .dropdown_element:hover {background: #e1b55b;}

*/

/* Login Page */

.login_wrapper {
	width: 100%;
}

.login_left {
	height: 100%;
	width: 62%;
	float: left;
	margin-left: 1%;
	margin-right: 2%;
	border: 1px solid #7F928A;
}

.login_right {
	position: fixed;
	height: 40%;
	width: 30%;
	left: 68%;
	border: 1px solid #7F928A;
}

/*Icon CSS*/

.icons_holder a {
  font-size: 16px;
  padding: 5px;
  display:inline-block;
}

.icons_holder {
  display: inline;
  margin: 0;
  padding: 0;
}
.icons_holder .current_icon {display: inline-block;}
.icons_holder .current_icon:hover {background: #555;}
.icons_holder .current_icon:hover .icon_slider {display: block;}
.icons_holder .current_icon .icon_slider {
  position: absolute;
  display: none;
}
.icons_holder .current_icon .icon_slider li { 
	margin-top: 20px;
  background: #555; 
  display: block;
  float: left; 
}
.icons_holder .current_icon .icon_slider li a {display:block;} 
.icons_holder .current_icon .icon_slider li:hover {background: #666;}

/* Endorsesaurus */

.endorsesaurus_container h2 {
	line-height: 125px;
}

.endorsesaurus_container {
	text-align: center;
	height: 200px;
	width: 100%;
	display: block;
	clear: both;
	border: 1px solid #7F928A;
	background-color: #A1DBB2;
}

.inner_endorsesaurus_container {
	text-align: center;
	height: 150px;
	width: 75%;
	right: 50px;
	margin-top: 25px;
	margin-left: 175px;
	margin-right: auto;
	display: block;
	border: 1px solid #7F928A;
	background-color: #A1DBB2;
}

.user_info {
	display: block;
	float: left;
	width: 18%;
	clear: left;
	height: 200px;
	text-align: center;
}

/*Secondary Nav Bar*/

.secondary-navbar-class {
	font-family: 'Amatic SC', cursive;
	background: #91CFCA;
	padding: 5px;
	font-size: 25px;
}

/*Main Navbar CSS*/
.secondary-navbar-class a {
	color: #486765;
  font-size: 25px;
  padding-left: 80px;
  padding-right: 80px;
  display:inline-block;
}

.secondary-navbar {
  display: inline;
  margin: 0;
}
.secondary-navbar .secondary-nav-element {display: inline-block;}
.secondary-navbar .secondary-nav-element:hover {background: #FACA66;}

/* Spans */

.span_liked {
	color: green;
}

.span_seen {
  color: yellow;
}

.span_disliked {
	color: red;
}

.span_recommended {
	color: blue;
}

/* Dashboard/Profile */

.event_user_icon {

}

.user_icon {
	float:left;
}

.event_info {

}

.event_wrapper {
	margin: auto;
	border: 1px solid #7F928A;
	height: 200px;
	width: 600px;
	padding: 5px;
}

/* Seen/Like/Dislike Buttons on Movies/Shows List*/

.seen_wrapper {
	display: none;
}

.dislikes_wrapper {
	display: none;
}

.likes_button {
	display: inline-block;
	width: 33%;
	background-color: green;
	text-align: center;
}

.seen_button {
	display: inline-block;
	width: 32%;
	background-color: yellow;
	text-align: center;
}

.dislikes_button {
	display: inline-block;
	width: 33%;
	background-color: red;
	text-align: center;
}

/* Profile Divs */
.profile_left_column {
	height: 100%;
	width: 30%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.profile_right_column {
	height: 100%;
	width: 62%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.badges_container {

}

.most_liked_genres {

}

.likes_distribution {

}

.shows_vs_movies {

}

/* user/movies user/shows divs */

.recommendations_container {
	height: 100%;
	width: 46%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.likes_container {
	height: 100%;
	width: 46%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.title_center {
	padding-left: 35%;
}

.title_center a {
	text-align: center;
}

/* Recommendation Css */

.title {
	float: left;
}

.rec_points {
	display: inline-block;
	float: left;
}

.icons_right {
	display: inline-block;
	float: right;
}

.pill {
	float: right;
}


/* user/shows user/movies Recommendation Divs */

.recommendation_row_movie {
	padding: 15px;
	border: 1px solid #7F928A;
}

.recommendation_expanded_movie {
	display: none;
}

.recommendation_row_show {
	padding: 15px;
	border: 1px solid #7F928A;
}

.recommendation_row {
	border: 1px solid #7F928A;
}

.recommendation_row_season {
	padding: 15px;
	border: 1px solid #7F928A;
	display: none;
}

.recommendation_row_episode {
	padding: 15px;
	border: 1px solid #7F928A;
	display: none;
}


/* user/shows user/movies Likes Divs */

.likes_row_movie {
	padding: 15px;
	border: 1px solid #7F928A;
}

.likes_expanded_movie {
	display: none;
}

.show_wrapper {
	border: 1px solid #7F928A;
}

.likes_row_show {
	padding: 15px;
	border: 1px solid #7F928A;
}

.likes_row_season {
	padding: 15px;
	border: 1px solid #7F928A;
	display: none;
}

.likes_row_episode {
	padding: 15px;
	border: 1px solid #7F928A;
	display: none;
}

/* Icons */

.dashboard_icons {
	height: 45px;
	width: 45px;
}

.icons img {
	float: left;
	height: 15px;
	width: 15px;
}

/* Photos */

.username {
	font-family: 'Amatic SC', cursive;
	color: #f9f9f9;
	font-weight: 700;
	font-size: 30px;
}

.points {
	font-family: 'Amatic SC', cursive;
	color: #f9f9f9;
	font-weight: 700;
	font-size: 30px;
}

.user_info img {
	width: 100px;
	height: 100px;
}

.full_poster {
	width: 270px;
  height: 410px;
  border: 1px solid #7F928A;
}

.photo_icon_small img {
	width: 25px;
	height: 25px;
}

.photo_icon img {
	width: 50px;
	height: 50px;
	margin-left: auto;
  margin-right: auto;
}

.poster_icon_large img {
	width: 100px;
	height: 150px;
}

.poster_icon img {
	width: 33px;
	height: 50px;
	margin-left: auto;
  margin-right: auto;
}

.poster_icon_wrapper {
	display: inline-block;
	text-align: center;
}

/* Friends */

.friend_icon_wrapper {
	display: inline-block;
	text-align: center;
}

.already_liked {
	background-color: green;
}

.already_seen {
	background-color: yellow;
}

.already_disliked {
	background-color: red;
}

.already_recommended {
	background-color: blue;
}