/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require slick
 *= require slick-theme
 */
$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

$new_green: #59983B;

/*
$green: #A1DBB2;
$yellow: #FACA66;
$darker_yellow: #e1b55b;
$red: #F45D4C;
$darker_red: #7a2e26;
$blue: #91CFCA;
$darker_blue: #486765;
*/

$font: 'Raleway', sans-serif;

a:link {
	color: $new_green;
	text-decoration: none;
}

a:visited {
	color: $new_green;
	text-decoration: none;
}

a:hover {
	color: $new_green;
	text-decoration: underline;
}

.text_center {
	text-align: center;
}

.site-name {
	color: #f9f9f9;
}

.site-name {
	font-weight: bold;
	text-align: center;
}

h1 {
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 40px;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 30px;
	letter-spacing: 2px;
}

h3 {
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 25px;
	letter-spacing: 2px;
}

h4 {
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 20px;
	letter-spacing: 2px;
}

/*Main Navbar CSS*/

/* Body */

/* Footer */

/* Login Page */

/*Icon CSS*/

/* Endorsesaurus */

/*Secondary Nav Bar*/

/* Spans */

/* Dashboard/Profile */

/* Seen/Like/Dislike Buttons on Movies/Shows List*/

/* Profile Divs */

/* user/movies user/shows divs */

/* Recommendation Css */

/* user/shows user/movies Recommendation Divs */

/* user/shows user/movies Likes Divs */

/* Icons */

/* Photos */

/* Friends */

