$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

.endorsesaurus_container h2 {
	line-height: 125px;
}

.endorsesaurus_container {
	height: 275px;
	width: 100%;
	display: block;
	background-color: $green;
	position: relative;
}

.inner_endorsesaurus_container {
	text-align: center;
	background-image: url('/assets/endorsesaurus_background.png');
	background-size: 250px 175px;
	background_repeat: repeat-x;
	height: 175px;
	width: 70%;
	right: 5%;
	top: 5%;
	bottom: 0;
	display: block;
	border: 1px solid $dark_blue;
	background-color: $green;
	position: absolute;
}

.inner_endorsesaurus_container .endorsesaurus {
	position: absolute;
	bottom: 17px;
}

.user_info {
	display: block;
	width: 18%;
	text-align: center;
	position: absolute;
	left: 3%;
	top: 30%;
	background-color: $blue;
	z-index: 50;
	padding: 5px;
	border: 1px solid $dark_blue;
}

.user_info img {
	width: 175px;
	height: 175px;
	z-index: 50;
}

.username {
	font-family: 'Amatic SC', cursive;
	color: #f9f9f9;
	font-weight: 700;
	font-size: 30px;
}

.points {
	font-family: 'Amatic SC', cursive;
	color: #f9f9f9;
	font-weight: 700;
	font-size: 25px;
}