.friend_icon_wrapper {
	display: inline-block;
	text-align: center;
}

.already_liked {
	background-color: green;
}

.already_seen {
	background-color: yellow;
}

.already_disliked {
	background-color: red;
}

.already_recommended {
	background-color: blue;
}