$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

.likes_wrapper {
	display: none;
}

.seen_wrapper {
	display: none;
}

.dislikes_wrapper {
	display: none;
}

.recent_button {
	display: inline-block;
	width: 24%;
	background-color: $blue;
	text-align: center;
}

.likes_button {
	display: inline-block;
	width: 24%;
	background-color: $green;
	text-align: center;
}

.seen_button {
	display: inline-block;
	width: 24%;
	background-color: $yellow;
	text-align: center;
}

.dislikes_button {
	display: inline-block;
	width: 24%;
	background-color: $red;
	text-align: center;
}