$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

.likes_container {
	min-height: 100%;
	margin-left: 2%;
	margin-right: 2%;
}

.likes_row_movie {
	min-height: 60px;
}

.expanded_likes_movie {
	display: none;
}

.watched_movie_title {
	float:left;
	padding-left: 2%;
	height: 60px;
	width: 78%;
	line-height: 55px;
	font-size: 1vw;
}

.watched_show_title {
	float:left;
	text-align: center;
	height: 60px;
	width: 60%;
	padding-left: 19%;
	line-height: 55px;
}

.shows_watched_wrapper {
	border-bottom: 3px solid $blue;
	border-left: 3px solid $blue;
	border-right: 3px solid $blue;
}

.show_wrapper {
	border-top: 3px solid $blue;
}

.likes_row_show {
	min-height: 60px;
}

.likes_row_season {
	min-height: 60px;
	border-top: 3px solid $blue;
	display: none;
}

.likes_row_episode {
	min-height: 60px;
	border-top: 3px solid $blue;
	display: none;
}