$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

.likes_container {
	height: 100%;
	width: 46%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.likes_row_movie {
	height: 75px;
}

.expanded_likes_movie {
	display: none;
	background-color: $green;
}

.likes_wrapper {

}

.seen_wrapper {

}

.dislikes_wrapper {

}

.shows_watched_wrapper {
	border-bottom: 3px solid $blue;
	border-left: 3px solid $blue;
	border-right: 3px solid $blue;
}

.show_wrapper {
	border-top: 3px solid $blue;
}

.likes_row_show {
	height: 75px;
}

.likes_row_season {
	height: 75px;
	border-top: 3px solid $blue;
	display: none;
}

.likes_row_episode {
	height: 75px;
	border-top: 3px solid $blue;
	display: none;
}