.login_wrapper {
	width: 100%;
}

.login_left {
	height: 100%;
	width: 62%;
	float: left;
	margin-left: 1%;
	margin-right: 2%;
	border: 1px solid #7F928A;
}

.login_right {
	position: fixed;
	height: 40%;
	width: 30%;
	left: 68%;
	border: 1px solid #7F928A;
}