// Place all the styles related to the Media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media_index_wrapper {
	border: 1px solid black;
}

.media_index_element_wrapper {
	width: 150px;
	float: left;
}

.movies_index_tag_wrapper {
	border: 1px solid black;
	width: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.shows_index_tag_wrapper {
	overflow-x: auto;
}

.poster img {
  width: 150px;
  height: 200px;
  border: 1px solid black;
}