$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

.event_user_icon {

}

.user_icon {
	float:left;
}

.event_information {
	float: left;
	width: 275px;
}

.event_wrapper {
	margin: auto;
	border: 1px solid #7F928A;
	height: 250px;
	width: 600px;
	background-color: $dark_blue;
}