$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

.event_user_icon {

}

.user_icon {
	height: 50px;
	width: 50px;
}

.event_information {
	padding: 2%;
}

.profile_event_wrapper {
	margin: auto;
	border: 1px solid #7F928A;
	background-color: $dark_blue;
}

.dashboard_event_wrapper {
	margin: auto;
	border: 1px solid #7F928A;
	width: 60%;
	background-color: $dark_blue;
}