
.full_poster {
	width: 270px;
  height: 410px;
  border: 1px solid #7F928A;
}

.poster_icon_large img {
	margin-left: auto;
  margin-right: auto;
	width: 225px;
	height: 337px;
}

.poster_icon img {
	width: 33px;
	height: 50px;
	margin-left: auto;
  margin-right: auto;
}

.poster_icon_wrapper {
	display: inline-block;
	position: relative;
	text-align: center;
	float: right;
	width: 45%;
	height: 100%;
	border: 1px solid black;
}