
.full_poster {
	width: 270px;
  height: 410px;
  border: 1px solid #7F928A;
}

.poster_icon img {
	width: 33px;
	height: 50px;
	margin-left: auto;
  margin-right: auto;
}

.event_poster {
	clear: both;
}

.event_poster img {
	width: 225px;
	height: 337px;
}
.event_poster_wrapper {
	text-align: center;
}