.profile_left_column {
	padding-top: 7%;
	width: 30%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.profile_right_column {
	width: 62%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.badges_container {

}

.most_liked_genres {

}

.likes_distribution {

}

.shows_vs_movies {

}