.profile_wrapper {

}

.left_column {
	padding-top: 5%;
	width: 25%;
	float: left;
}
.center_column {
	padding-top: 5%;
	width: 40%;
	float: left;
}
.right_column {
	padding-top: 5%;
	width: 35%;
	float: left;
}

.badges_container {
}

.infographics {
}

.most_liked_genres {
	position: relative;
	float: left;
}

.likes_distribution {
	position: relative;
	float: left; 
}

.shows_vs_movies {
	position: relative;
	float: left;
}

.recent_activity {
	width: 50%;
}
