.profile_wrapper {

}

.left_column {
	width: 20%;
	float: left;
}
.center_column {
	width: 45%;
	float: left;
}
.right_column {
	padding-top: 3%;
	width: 35%;
	float: left;
}

.badges_container {
}

.infographics {
	height: 300px;
	padding: 25px;
}

.most_liked_genres {
	position: relative;
	float: left;
	width: 30%;
}

.likes_distribution {
	position: relative;
	float: left; 
	width: 30%;
}

.shows_vs_movies {
	position: relative;
	float: left;
	width: 30%;
}

.recent_activity {
	width: 50%;
}
