$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

.recommendations_container {
	position: relative;
	padding-top: 7%;
	min-height: 100%;
	width: 46%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.recommendation_wrapper {
	border-top: 3px solid $blue;
	border-left: 3px solid $blue;
	border-right: 3px solid $blue;
}

.recommendation_row_movie {
	display: block;
	border-bottom: 3px solid $blue;
	min-height: 75px;
}

.recommendation_expanded_movie {
	display: none;
}

.recommendation_row {
	border-top: 3px solid $blue;
}

.recommendation_row_show {
	height: 75px;
	border-bottom: 3px solid $blue;
}

.recommendation_row_season {
	height: 75px;
	border-bottom: 3px solid $blue;
	display: none;
}

.recommendation_row_episode {
	height: 75px;
	border-bottom: 3px solid $blue;
	display: none;
}

.title {
	float: left;
}

// .title_center {
// 	padding-left: 35%;
// }

.title_center a {
	text-align: center;
}

.rec_points {
	font-size: 30px;
	display: inline-block;
	float: left;
	width: 10%;
	text-align: center;
	height: 73px;
	// left: 5%;
	// padding-top: 20px;
}

.upvote_icon {
	display: inline-block;
	width: 10%;
	text-align: center;
	height: 73px;
	float:left;
}

.rec_title {
	float:left;
	text-align: center;
	height: 73px;
	width: 60%;
	down: 20px;
}

.icons_right {
	height: 73px;
	width: 19%;
	display: inline-block;
	float: right;
}

.icons_container {
	float: right;
}

.media_points {
	float: right;
}

.pill {
	float: right;
}