$red: #CB2259;
$purple: #831E56;
$blue: #77B29C;
$dark_blue: #29785A;
$green: #BAC17B;
$yellow: #F4CE79;

$new_green: #59983B;
$new_dark_green: #47792F;

.secondary_nav_wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.secondary_nav_bar_fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 22%;
  height: 59px;
  z-index: 0;
  background-color: $new_green;
  border-top: 1px solid $dark_blue;
  border-bottom: 1px solid $dark_blue;
}

.secondary_nav {
  left: 22%;
  width: 78%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid $dark_blue;
  border-bottom: 1px solid $dark_blue;
}

.secondary_nav_wrapper ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $new_green;
}

.secondary_nav_element {
	float: left;
  border-right: 1px solid $dark_blue
}

.secondary_nav_element a {
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  display: inline-block;
  color: #f9f9f9;
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.secondary_nav_element a:hover {
  background-color: $new_dark_green;
}
