// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left_col {
	height: 100%;
	width: 30%;
	float: left;
	margin-left: 2%;
}

.center_col {
	height: 100%;
	width: 30%;
	float: left;
	margin-left: 1%;
}

.right_col {
	height: 100%;
	width: 30%;
	float: left;	
	margin-left: 1%;
	margin-right: 2%;
}

.recent_wrapper {
	height: 312px;
	overflow: auto;
}

.rec_wrapper {
	height: 800px;
	overflow: auto;
}

.seen_wrapper {
	height: 800px;
	overflow: auto;
}

.icons {
	float: left;
	height: 15px;
	width: 15px;
}

.title {
	float: left;
}

img {
  max-width: 100%;
  height: auto;
}

.photo {
	width: 300px;
	height: 300px;
	background-color: black;
}

.recent_row {
	border: 1px solid black;
}

.rec_row {
	border: 1px solid black;
}

.like_row {
	border: 1px solid black;
}

.seen_row {
	border: 1px solid black;
}

.dislike_row {
	border: 1px solid black;
}

.ex_recent_row {
	border: 1px solid black;
}

.ex_rec_row {
	border: 1px solid black;
}

.ex_like_row {
	border: 1px solid black;
}

.ex_seen_row {
	border: 1px solid black;
}

.ex_dislike_row {
	border: 1px solid black;
}
