// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.endorsesaurus_container {
	text-align: center;
	vertical-align: middle;
	line-height: 125px;  
	height: 150px;
	width: 100%;
	display: block;
	position: static;
	clear: both;
	border: 1px solid black;
}

.left_col {
	padding-top: 5%;
	height: 100%;
	width: 30%;
	float: left;
	margin-left: 2%;
}

.center_col {
	height: 100%;
	width: 30%;
	float: left;
	margin-left: 1%;
}

.right_col {
	height: 100%;
	width: 30%;
	float: left;	
	margin-left: 1%;
	margin-right: 2%;
}

.two_thirds_col {
	height: 100%;
	width: 60%;
	float: left;
	margin-left: 1%;
}

.recent_activity_wrapper {
	height: 800px;
	overflow: auto;
}

.recent_wrapper {
	height: 420px;
	overflow: auto;
}

.recommendation_wrapper {
	height: 800px;
	overflow: auto;
}

.watched_wrapper {
	height: 800px;
	overflow: auto;
}

.icons img {
	float: left;
	height: 15px;
	width: 15px;
}

.title {
	float: left;
}

.photo img {
	width: 150px;
	height: 150px;
}

.recent_row {
	border: 1px solid black;
}

.recommendation_row {
	border: 1px solid black;
}

.like_row {
	border: 1px solid black;
}

.seen_row {
	border: 1px solid black;
}

.dislike_row {
	border: 1px solid black;
}