<h1>All Shows</h1>

<div class="shows_wrapper">
	<% @shows.each do |show| %>
		<div id=<%="show_#{show.id}"%> class="show_row">
			Title: <%= link_to show.title, show_path(show) %>
			<br>
			Tags: <% show.medium.tags.each do |tag| %>
				<%= link_to tag.name,  tag_path(tag) %>
			<% end %>
			<br>
			Poster: 
			<br>
			<img src="<%= show.poster %>">
			<br>
		</div>
	<% end %>
</div>