<h1>All Movies</h1>

<div class="shows_index_wrapper">
	<% @tags.each_key do |tag| %>
		<div class="shows_index_tag_wrapper">
		<h3><%= tag.name %></h3>
		<% @tags[tag].each do |show| %>
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user } %>
		<% end %>
		<br>
		</div>
	<% end %>
</div>