<div id=<%="#{placeholder.medium_id}"%> class="likes_row_episode">
	<span class="title_center">Episode: <%= placeholder.episode_num %></span>
	<span class="icons_right"><%= render partial: 'layouts/icons', locals: { user: user, current_user_likes: current_user_likes, placeholder: placeholder, current_user: current_user } %></span>
</div>