<div id=<%="#{placeholder.medium_id}"%> class="likes_row_episode">
	<div class="watched_show_title">Episode: <%= placeholder.episode_num %></div>
	<div class="icons_right">
		<div class="icons_container">
			<%= render partial: 'layouts/icons', locals: { user: user, current_user_likes: current_user_likes, placeholder: placeholder, current_user: current_user } %>
		</div>
	</div>
</div>