<div id=<%="#{placeholder.medium_id}"%> class="likes_row_episode"
	<%if user_likes[placeholder.medium_id] == 1 %>
		style="background-color:green;"
	<% elsif user_likes[placeholder.medium_id] == -1 %>
		style="background-color:red;"
	<% elsif user_likes[placeholder.medium_id] == 0 %>
		style="background-color:yellow;"
	<% end %>	>
	Episode: <%= placeholder.episode_num %>
	<%= render partial: 'layouts/icons', locals: { user: user, current_user_likes: current_user_likes, placeholder: placeholder, current_user: current_user } %>
</div>