<div class="poster_icon_wrapper">
	<%= link_to image_tag(episode.season.show.poster), show_path(episode.season.show), class: "poster_icon" %>
	<br>
	<%= link_to episode.season.title, show_path(episode.season.show) %>
	<br>
	season 
	<%= episode.season.season_num %>
	<br>
	episode 
	<%= episode.episode_num %>
</div> 