<div class="event_information">
	<div class="user_icon">
		<%= link_to image_tag('profile.jpg'), user_path(user), class: "event_photo_icon" %>
	</div>
	<div class="event_info">
		<%= link_to user.name, user_path(user) %>
		<br>
		<%= note.created_at.strftime("%d %b. %Y") %>
	</div> 
</div> 