<div class="c-horizontal-combo-container">
    <div class="c-horizontal-combo-mortice">
        <div class="c-combo-fill" style="width: <%= unwatched %>%">
            <div class="c-combo-label">
            </div>
        </div>
        <div class="c-combo-fill green" style="width: <%= liked %>%">
            <div class="c-combo-label green-container">
            </div>
        </div>
        <div class="c-combo-fill orange" style="width: <%= seen %>%">
            <div class="c-combo-label orange-container">
            </div>
        </div>
        <div class="c-combo-fill pink" style="width: <%= disliked %>%">
            <div class="c-combo-label pink-container">
            </div>
        </div>
    </div>
</div>