<div class="bar_mortice mortice_tiny pill_left" style="width: 75px">
  <div class="progress progress_tiny green" style="width: <%= percents[0] %>%;"></div>
  <div class="progress progress_tiny yellow" style="width: <%= percents[1] %>%;"></div>
  <div class="progress progress_tiny red" style="width: <%= percents[2] %>%;"></div>
  <div class="progress progress_tiny" style="width: <%= percents[3] %>%;"></div>
</div>