<div id=<%="#{placeholder[0].medium_id}"%> class="season_wrapper">
	<div class="likes_row_season">
		Season: <%= placeholder[0].season_num %>
		<%= render partial: 'layouts/progress_pill', locals: { user: user, current_user_likes: current_user_likes, placeholder: placeholder[0], current_user: current_user, percents: progress[placeholder[0].medium_id]} %>
	</div>
	<% placeholder[1].each do |episode| %>
		<%= render partial: 'layouts/episode_layout', locals: { recently_watched: recently_watched, user: user, user_likes: user_likes, current_user_likes: current_user_likes, placeholder: episode, current_user: current_user} %>				
	<% end %>
</div>