<div class ="secondary_nav_wrapper">
  <ul class="secondary_nav">
  	<li class="secondary_nav_element"><%= link_to "Profile", user %></li>
<!--   	<li class="secondary_nav_element"><%= link_to "Movie List", movies_user_path(user) %></li> -->
  	<!--
    <li class="secondary_nav_element"><%= link_to "Show List", shows_user_path(user) %></li>
    -->
  	<li class="secondary_nav_element"><%= link_to "Friends", friends_user_path(user) %></li>
  </ul>
</div>