<div id=<%="#{placeholder.id}"%> class=<%="#{css_class}_row"%>
	<%if user_likes[placeholder.medium_id] == 1 %>
		style="background-color:green;"
	<% elsif user_likes[placeholder.medium_id] == -1 %>
		style="background-color:red;"
	<% elsif user_likes[placeholder.medium_id] == 0 %>
		style="background-color:yellow;"
	<% end %>	>
	Title: <%= link_to placeholder.title, show_path(placeholder) %>
	<br>
	<% placeholder.seasons.each do |season| %>

		<%= render partial: 'layouts/season_layout', locals: { recently_watched: recently_watched, user: user, user_likes: user_likes, current_user_likes: current_user_likes, placeholder: season, current_user: current_user, css_class: css_class } %>				
		<% end %>
</div>