<div id=<%="#{placeholder[0].medium_id}"%> class="show_wrapper">
	<div class="likes_row_show">
		<%= link_to placeholder[0].title, show_path(placeholder[0]) %>
		<%= render partial: 'layouts/progress_pill', locals: { user: user, current_user_likes: current_user_likes, placeholder: placeholder[0], current_user: current_user, percents: progress[placeholder[0].medium_id] } %>
		<br>
	</div>
	<% placeholder[1].each do |season| %>
		<%= render partial: 'layouts/season_layout', locals: { recently_watched: recently_watched, user: user, user_likes: user_likes, current_user_likes: current_user_likes, placeholder: season, current_user: current_user, progress: progress} %>				
	<% end %>
</div>