<% if user.id != current_user.id %>
	<% if rec.rec_by_user?(current_user.id) %>
		<div class="icons blue_arrow"><%= link_to image_tag('blue_arrow.png'), {action: 'destroy', controller: 'recommendations', recipients: [user.id], medium_id: rec.info.medium_id}, :method => :delete %></div>
	<% else %>
		<div class="icons white_arrow"><%= link_to image_tag('white_arrow.png'), {action: 'create', controller: 'recommendations', recipients: [user.id], medium_id: rec.info.medium_id}, :method => :post %></div>
	<% end %>
<% end %>
